@import "./reset.css";
@import "./components/btn-components.css";
@import "./components/inputs-components.css";

main {
  width: 100%;
  border: 0.5rem solid olive;
}

nav {
  border: 0.5rem solid;

  height: 80px;
  padding: 0 4rem;
  display: grid;

  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 1rem;
}

nav .baby {
  font-size: 2rem;
  border: 2px solid;

  display: flex;
  align-items: center;
}

nav .baby-1 ul {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 3rem;
}

nav .baby-1 ul li {
  display: flex;
  align-items: center;
}

nav .baby-1 ul li a {
  font-size: 1.3rem;
  font-weight: 600;
}

nav .baby-2 {
  justify-items: center;
}

nav .baby-2 img {
  width: 10rem;
  aspect-ratio: 3 / 1;
}

nav .baby-3 {
  justify-content: flex-end;

  display: flex;
  align-items: center;
  gap: 3rem;
}

nav .baby-3 .buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.hidden {
  display: none;
}

/* ----- section-1 ------ */
.section-1 {
  border: 0.5rem dashed orange;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  aspect-ratio: 1 / 0.4;

  padding: 10rem 1rem 5rem 1rem;
}

.section-1 h2 {
  font-size: 1.6rem;
  padding: 1.2rem 1.6rem;
  background-color: #ffda79;
  border-radius: 40px;
  font-family: heading;
}

.section-1 h1 {
  font-size: 8rem;
  font-weight: 500;
  font-family: heading;
  letter-spacing: -1.1px;
  line-height: 0.9;
}

.section-1 p {
  font-size: 2rem;
}

/*  ------ secrion-2 ------ */
.secrion-2 {
  white-space: nowrap;
  height: 35rem;

  overflow-y: hidden;
  overflow-x: hidden;
}

.babys {
  display: inline-block;
  animation: story-move 25s infinite linear;
}

.secrion-2 .babys .baby {
  width: 250px;
  height: 300px;

  display: inline-block;
  margin-right: 2.2rem;

  position: relative;
  border-radius: 30px;
  overflow: hidden;
}

.secrion-2 .babys .baby figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 30px;
}

.secrion-2 .babys .baby figure img,
.secrion-2 .babys .baby figure video {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
}

.secrion-2 .baby .overlay {
  background-color: #00000009;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column;
  justify-content: end;
  gap: 1px;
}

.secrion-2 .baby .overlay .top {
  padding: 1.5rem;
}

.secrion-2 .baby .overlay .top {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.4;
  font-weight: 100;
}

.secrion-2 .baby .overlay .bottom {
  padding: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  color: #fff;
}

.secrion-2 .baby .overlay .bottom > * {
  padding: 0.6rem 1.6rem;
  border-radius: 70px;
  border: 0.5px solid #ffffffa7;
  font-size: 1.1rem;
  font-weight: 200;
}

/* section-3 */
.section-3 {
  border: 0.5rem solid gray;
  margin-top: 4rem;

  display: flex;
  flex-flow: column;
  gap: 1rem;
  padding: calc(var(--vw) * 2vw);
}

.section-3 h3 {
  text-align: center;
  font-size: calc(var(--vw) * 4vw);
  font-weight: 100;
}

.section-3 .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 2rem;
}

.section-3-baby {
  aspect-ratio: 1 / 1.1;
  overflow: hidden;

  display: grid;
  grid-template-rows: 2fr 0.6fr;
  border: 0.5rem dashed;
}
.section-3-baby figure {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;

  position: relative;
}

.section-3-baby figure img,
.section-3-baby figure video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.section-3-overlay {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(rgba(255, 254, 254, 0), rgb(2, 2, 2));
  transition: all linear 0.2s;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1px;

  padding: 2rem;
}

.section-3-baby figure:hover .section-3-overlay {
  bottom: 0;
}

/* left */
.section-3-overlay-left {
  font-size: 1.5rem;
  color: #fff;
}

/* right */
.section-3-overlay-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.section-3-overlay-right i {
  font-size: 1.5rem;
  border-radius: 50%;
  padding: 1rem;
  background: #fff;
}

.section-3-baby .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

.section-3-baby-bottom-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.section-3-baby-bottom-left img {
  width: 20px;
  height: 1 / 1;
  border-radius: 50%;
}

.section-3-baby-bottom-left h6 {
  font-size: 0.9rem;
}

.section-3-baby-bottom-left a h6 {
  padding: 0.3rem 0.6rem;
  border-radius: 2px;
  background-color: rgba(128, 128, 128, 0.451);
  text-transform: uppercase;
  color: #fff;
}
.section-3-baby-bottom-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* left */
.section-3-baby-bottom-right-left {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
}

.section-3-baby-bottom-right-left > div {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
/* ----- animation ----- */
@keyframes story-move {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% - 5px));
  }
}

/* ------ media ------ */
@media (max-width: 1071px) {
  nav {
    grid-template-columns: auto auto 1fr;
  }
  nav .baby-1 {
    order: 2;
  }

  nav .baby-2 {
    order: 1;
  }

  nav .baby-3 {
    order: 3;
  }

  nav .baby-3 input {
    display: none;
  }

  nav .baby-3 i {
    display: initial;
  }
}

@media (max-width: 950px) {
  nav .baby-1 ul {
    display: none;
  }

  nav .baby-1 i {
    display: initial;
    font-size: 2.4rem;
  }

  nav .baby-3 .buttons .log-in {
    display: none;
  }

  nav .baby-3 {
    gap: 1rem;
  }

  nav .baby-1 {
    order: 1;
  }

  nav .baby-2 {
    order: 2;
  }
}

@media (max-width: 950px) {
  nav {
    padding: 0 18px;
  }
}

@media (max-width: 400px) {
  :root {
    --vw: 1.6;
  }
  /* section-1 */
  .section-1 {
    padding: 0 1rem;
    height: 100dvh;
    transition: height 2s linear;
    gap: 2.2rem;
    aspect-ratio: initial;
  }

  .section-1 h2 {
    font-size: 1.2rem;
    padding: 1.2rem 1.6rem;
    background-color: #ffda79;
    border-radius: 40px;
    font-family: heading;
  }

  .section-1 h1 {
    font-size: 5rem;
    font-weight: 500;
    font-family: heading;
    letter-spacing: -1.1px;
    line-height: 0.9;
  }

  .section-1 p {
    font-size: 1.5rem;
    max-width: 70%;
  }

  .section-3 {
    padding: calc(var(--vw) * 1vw);
  }
}
